.responsive-menu-icon{
    display:none;
}

.nav_white_label_area{
    background:#b2a06d;
    position: relative;
    z-index: 9999999;
    bottom: 0;
    transform: translate(0, -100%);
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
}
.nav_white_label {
    background: #b2a06d;
    margin: 0 auto;
    height: 50px;
    width: 83%;
    padding: 0;
}
.nav_white_label li {
    position: relative;
    list-style: none;
    float: left;
}

.nav_white_label ul li a:hover>{
    color:#b2a06d !important;
}

.nav_white_label li a {
    text-decoration: none;
    line-height: 49px;
    display: block;
    padding: 0 15px;
    color: #fff;
}
.nav_white_label li li a {
    line-height: 38px;
    font-size: 14px;
    color: #fff;
}
.nav_white_label li:hover ul {
    display: block;
}
.nav_white_label li:hover {
    background: #e6e6e6;
}
.nav_white_label li ul {
    background: #ae9a64;
    position: absolute;
    display: none; 
    width: 200px;
    padding: 0;
    margin: 0;
}

.nav_white_label li li {
    position:relative;
    float: none;
}

.nav_white_label li li:hover {
    background: #e6e6e6;
}

.nav_white_label li:hover ul li a{
    color:#fff
}

.nav_white_label li:hover a, .nav_white_label li li:hover a{
    color:#ae9a64;
}

.nav_white_label li ul ul{
    display:none !important; 
    border:#fff solid 1px;
    position:absolute;
    right:200px;
    top:2px;
}

.nav_white_label li ul li a{
    color:#fff !important;
}

.nav_white_label li ul li:hover ul{
    display:block !important; 
}



@media only screen and (max-width: 979px) {
    .responsive-menu-icon{
        display:block;
    }

    .nav_white_label_area{
        bottom:107px;
        height:45px;
    }

    .nav_white_label{
        z-index:99999999999999;
        background:#b2a06d;
        position:absolute;
        font-size:13px;
        display:none;
        width:160px;
        height:auto;
        margin:0;
        top:44;
    }
    
    .nav_white_label li a{
        line-height:30px;
        padding:0 10px;
    }

    .nav_white_label li {
        border-bottom:#fff solid 1px;
        border-left:#fff solid 1px;
        float:none;
    }

    .nav_white_label li ul{
        position:relative;
        display:none;
        z-index:9999;
    }

    .nav_white_label li:hover ul{
        display: block !important;
        position: absolute;
        left: 159px;
        top: 47px;
        border:0;
    }

    .responsive-menu-icon{
        display:block;
        width:100%;
        color:#fff;
    }

    .responsive-menu-icon img{
        margin:10px;
        width:25px;
    }

    .more-menu{
        /*	display:none; */
    }

    .nav_white_label li.more-menu:hover ul{
        width:160px;
        top:auto;
        left:0;
    }
    
    .nav_white_label li.more-menu ul li{
        border-left:0
    }
    
    .nav_white_label li.more-menu ul li ul li{
        border-left:#fff solid 1px;
    }
    
     .nav_white_label li.more-menu:hover ul li ul{
        display:none !important;
        position: absolute;
        left: 160px;
        top: 47px;
    }
    .nav_white_label li.more-menu ul li:hover ul{
        display: block !important;
    }
}

/* Reset CSS */
.slider .owl-carousel .item {
    height: 100vh;
}
.slider .owl-carousel .owl-item img {
    display: block;
    width: auto;
    height: 100%;
    max-width: unset;
}
.order-bg {
    margin-top: 85px;
}
.slider .slider-content {
    bottom: 0;
    transform: translate(0, 100%);
    z-index: 9;
}

.order-now {
    overflow: hidden;
}

.slider-content .box {
    position: relative;
}

.box-inner-img {
    width: 130px;
    height: 130px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    right: -10px;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.box-inner-img img {
    height: 100%;
}

.nav_white_label_area {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.sticky-menu {
    position: fixed;
    top: 0;
    transform: translate(0);
    width: 100%;
    z-index: 999999;
}

.nav_white_label_area.sticky-menu {
    height: 50px;
}

.navbar-brand {
    overflow: hidden;
    height: 100%;
}

header {
    height: 125px;
    overflow: hidden;
}

header.homepage {
    position: absolute;
}

.navbar {
    border: none;
    z-index: 99999;
    margin: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    height: min-content;
}

.navbar:after{
    background-color:#000;
    opacity:0.0;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: block;
}
.navbar.darker:after {
    opacity: 1;
}